/* Error: Expected identifier.
 *     ,
 * 178 |   transition:all.5s ease;
 *     |                  ^
 *     '
 *   scss\login.scss 178:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 178 \2502    transition:all.5s ease;\d\a     \2502                   ^\a     \2575 \a   scss\\login.scss 178:18  root stylesheet";
}
